{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'ecom_theme/assets/favicon.ico'%}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{% static "Bootstrap/css/bootstrap.min.css" %}">

        <link href="{% static 'ecom_theme/css/styles.css'%}" rel="stylesheet" />

        <title>{% block title%}Fruits Ecommerce{% endblock title%}</title>
        {% block css%}
        {% endblock css%}

         <!--Jquery-->
         <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        
    </head>
    <body>
        {% include "common/navbar.html" %}
       
        {% if messages%}
            {% for message in messages%}
                {% if 'success' in message.tags %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <div class="d-flex justify-content-center text-success">{{message}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </button>
                    </div>
                {% elif 'warning' in message.tags%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <div class="d-flex justify-content-center text-danger-emphasis">{{message}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </button>
                    </div>
                {% else%}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <div class="d-flex justify-content-center">{{message}}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </button>
                    </div>
                {% endif%}
            {% endfor%}
        {% endif%}

        {% block content%}

        {% endblock content%}

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'ecom_theme/js/scripts.js'%}"></script>
    </body>
</html>
