 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home'%}">My Ecommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse active" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 active">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a></li>
                <li class="nav-item "><a class="nav-link active" href="{% url 'about_us'%}">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'categories_summery'%}">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'categorical_product' 'Fruits'%}">Fruits</a></li>
                        <li><a class="dropdown-item" href="{% url 'categorical_product' 'Flowers'%}">Flowers</a></li>
                        <li><a class="dropdown-item" href="{% url 'categorical_product' 'Mango'%}">Mango</a></li>
                        <li><a class="dropdown-item" href="{% url 'categorical_product' 'Vegetables'%}">Vegetables</a></li>
                        <li><a class="dropdown-item" href="{% url 'categorical_product' 'Dark'%}">Dark</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'logout_user'%}">Logout</a></li>
                {% else%}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'login_user'%}">Login</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'signup_user'%}">Sign-Up</a></li>
                {% endif%}

                {% if request.user.is_authenticated%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'update_userprofile' %}">Update Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'update_password' %}">Change Password </a></li>
                            <li><a class="dropdown-item" href="{% url 'update_userinfo' %}">Update Info</a></li>
                        </ul>
                    </li>
                {% endif%}

                <li class="nav-item "><a class="nav-link active" href="{% url 'search_product'%}">Search</a></li>
                <li class="nav-item "><a class="nav-link active" href="{% url 'payment_success'%}">Payment</a></li>

            </ul>
            <form class="d-flex">
                <a href="{% url 'card_summery' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="card_quantity">{{card|length}}</span>
                </a>
            </form>
        </div>
    </div>
</nav>