{% extends 'common/base.html'%}
{% load static%}

{% block content%}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us....</h1>
                <p class="lead fw-normal text-white-50 mb-0">Learn more about our company!</p>
            </div>
        </div>
    </header>
    <div class="container">
            <div class="row">
                <center>
                    <div class="col-8"><br><br>
                        <p align='justify'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum laoreet augue, vel varius purus aliquam in. Proin tristique nulla eu erat finibus blandit. Curabitur sit amet varius quam. Integer posuere, neque eget mollis rutrum, elit metus blandit purus, sit amet porttitor tellus odio ut leo. Pellentesque vel venenatis leo. Nunc ut nisi mauris. Mauris fringilla elit vitae purus vulputate varius. Pellentesque at sapien velit. Donec pulvinar rhoncus justo vitae condimentum. Nam urna erat, faucibus a orci eget, tristique eleifend erat. Praesent dictum nec ligula nec gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras urna nisl, egestas non ex sit amet, ullamcorper luctus sem. Ut venenatis hendrerit felis, et varius justo ultricies vitae. Suspendisse potenti. Sed id risus nisi.<br><br>

                        Morbi consequat pretium nunc at tristique. Integer accumsan dapibus lorem, at blandit risus blandit non. Nulla tristique commodo urna, vel malesuada dolor ultrices sit amet. Etiam tempus mattis consectetur. Sed tincidunt et eros sit amet tempus. Suspendisse potenti. Maecenas dapibus libero ac scelerisque sollicitudin.
                        <br><br>  
                        Aenean purus quam, cursus ac dapibus ut, consectetur ut risus. Fusce efficitur molestie laoreet. Etiam quis dui vitae enim condimentum eleifend. Donec sed auctor ligula, ac commodo neque. Integer tortor orci, placerat nec est eu, sagittis hendrerit elit. Curabitur nec risus et tellus consequat lacinia. Fusce iaculis a velit facilisis ornare. Nam rhoncus porttitor volutpat. In blandit eget ante nec aliquet. Curabitur consectetur ligula eu purus rutrum eleifend.<br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum laoreet augue, vel varius purus aliquam in. Proin tristique nulla eu erat finibus blandit. Curabitur sit amet varius quam. Integer posuere, neque eget mollis rutrum, elit metus blandit purus, sit amet porttitor tellus odio ut leo. Pellentesque vel venenatis leo. Nunc ut nisi mauris. Mauris fringilla elit vitae purus vulputate varius. Pellentesque at sapien velit. Donec pulvinar rhoncus justo vitae condimentum. Nam urna erat, faucibus a orci eget, tristique eleifend erat. Praesent dictum nec ligula nec gravida. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras urna nisl, egestas non ex sit amet, ullamcorper luctus sem. Ut venenatis hendrerit felis, et varius justo ultricies vitae. Suspendisse potenti. Sed id risus nisi.<br><br>

                        Morbi consequat pretium nunc at tristique. Integer accumsan dapibus lorem, at blandit risus blandit non. Nulla tristique commodo urna, vel malesuada dolor ultrices sit amet. Etiam tempus mattis consectetur. Sed tincidunt et eros sit amet tempus. Suspendisse potenti. Maecenas dapibus libero ac scelerisque sollicitudin.
                        <br><br>  
                        Aenean purus quam, cursus ac dapibus ut, consectetur ut risus. Fusce efficitur molestie laoreet. Etiam quis dui vitae enim condimentum eleifend. Donec sed auctor ligula, ac commodo neque. Integer tortor orci, placerat nec est eu, sagittis hendrerit elit. Curabitur nec risus et tellus consequat lacinia. Fusce iaculis a velit facilisis ornare. Nam rhoncus porttitor volutpat. In blandit eget ante nec aliquet. Curabitur consectetur ligula eu purus rutrum eleifend.<br><br>
                        </p>
                    </div>
                </center>
            </div>
    </div>
{% endblock content%}